<server description="plantsServer">
    <!-- tag::features[] -->
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>ejbLite-3.2</feature>
        <feature>ejbRemote-3.2</feature>
        <feature>servlet-3.1</feature>
        <feature>jsf-2.2</feature>
        <feature>beanValidation-1.1</feature>
        <feature>jndi-1.0</feature>
        <feature>jdbc-4.1</feature>
        <feature>cdi-1.2</feature>
        <feature>jpa-2.1</feature>
        <feature>javaMail-1.5</feature>
        <feature>el-3.0</feature>
    </featureManager>
    <!-- end::features[] -->

    <variable name="http.port" defaultValue="9080"/>
    <variable name="https.port" defaultValue="9443"/>

    <logging traceSpecification="JPA=all" consoleLogLevel="INFO" />

    <variable name="MYSQL_JDBC_DRIVER_PATH" value="${wlp.install.dir}/../../../../docker/liberty" />
    <jdbcDriver id="mysql" javax.sql.DataSource="com.mysql.jdbc.jdbc2.optional.MysqlConnectionPoolDataSource">
        <library>
            <file name="${MYSQL_JDBC_DRIVER_PATH}/mysql-connector-java-5.1.38.jar"/>
        </library>
    </jdbcDriver>
    <dataSource id="MySQL JTA for Plants by WebSphere" jdbcDriverRef="mysql" jndiName="jdbc/PlantsByWebSphereMySQLDataSource">
        <properties databaseName="plantsdb" password="${env.DB_PASSWORD}" portNumber="${env.DB_PORT}" serverName="${env.DB_HOST}" user="${env.DB_USER}" relaxAutoCommit="false"/>
        <connectionManager agedTimeout="0" connectionTimeout="180" maxIdleTime="1800" maxPoolSize="10" minPoolSize="1" reapTime="180"/>
    </dataSource>

    <httpEndpoint host="*" httpPort="${http.port}"
        httpsPort="${https.port}" id="defaultHttpEndpoint"/>

</server>
